<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>attack1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 386}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {56, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 2}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{250, 2}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 16}, {54, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 146}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {58, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 242}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackjump1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 194}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackjump2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {52, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 98}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackrun1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 434}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackrun2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 98}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackrun3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 146}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackrun4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 194}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attackrun5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 386}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>damage1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 242}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>damage2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 50}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>damage3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 10}, {34, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 338}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 98}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{15, 8}, {34, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 50}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {50, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 290}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 22}, {58, 24}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 146}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 28}, {58, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 434}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 30}, {58, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 290}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 30}, {58, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 98}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 32}, {56, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 50}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 32}, {56, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 2}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 434}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 2}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 20}, {56, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 290}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 10}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 338}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {40, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 2}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jump6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {48, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 386}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>running1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 242}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>running2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 242}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>running3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 194}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>running4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 17}, {56, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 386}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>running5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126, 338}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{64, 338}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 290}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 50}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 146}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {56, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{2, 194}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>standing6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 16}, {56, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 46}</string>
			<key>spriteSourceSize</key>
			<string>{60, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{188, 434}, {60, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>